<h2>Note Details</h2>
<hr class="bigLine">
<h4>Title:</h4>{{note.title}}
<hr>
<h4>Realted To Subject:</h4> {{note.group}}
<hr>
<h4>Priority:</h4> {{note.priority}}
<hr>
<h4>Book Name/Link:</h4> {{note.bookname}}
<hr>
<h4>Key points:</h4> {{note.keypoints}}
<hr>
<h4>Description:</h4> {{note.body}}
<hr>
<h4>Status:</h4> {{note.status}}
<hr>
<h4>Professor Notes:</h4> {{note.pnotes}}
<hr>
<h4>Last Updated:</h4> {{note.updated | date:'MM/dd/yyyy - h:mma'}}
<hr>
<a href="#/notes" class="btn btn-primary">Back</a>
