

<div class="header-logo"><img src="images/app_notes_icon.jpg" width="50" height="50" alt="Notes" /><h2 class="header-content">Help</h2></div>
<hr class="bigLine">
<div id="updateinfo" > <h3 class="body-content">Notes Maker and Organizer</h2> </div>


<div  style="display:block;width:100%;padding-left:16%; padding-top:5%;">

<table id="helptable" width="100%">
	<tr >
        <td>
		 This Application having Add,Edit,Delete,Search the Notes and its description for students.
        </td>
    </tr>
    <tr>
        <td>
		In main menu that contain 5 Option Add,Update,delete,Add remainder,Lock application.
        </td>
    </tr>
    <tr>
        <td>
       The add Option which is used to add a note,key points,description to storage.
            </td>
    </tr>
   <tr>
       <td>
       The Edit Option which is used to Edit/update a note,key points,description to storage.
           </td>
    </tr>
    <tr>
        <td>
       The Delete Option which is used to delete entire note from storage.
            </td>
    </tr>
    <tr>
        <td>
       The Add remainder which is used to add remainder and yet to be study section.
            </td>
    </tr>
    <tr>
        <td>
       Lock Option which is used to lock the application with password protected.
        </td>
    </tr>
</table>
   
</div>


<hr>

