

<div id="login">
<div class="header-logo"><img src="images/app_notes_icon.jpg" width="50" height="50" alt="Notes" /><h2 class="header-content">Login</h2></div>
<hr class="bigLine">
<div style="display:block;background-color:#F0F8FF; margin-top:50px;">
<form class="form-stacked" style="padding:20px;" onSubmit="return false" name="loginForm" ng-controller="NoteEditCtrl">
	
		<label for="title">User name:</label>
		<div class="input controls">
			<input type="text" id="title" name="loginForm.pwd" class="form-control" maxlength="15" required="true" />
			<span class="help-line" ng-show="loginForm.title.$error.required"></span>
		</div>
	
    
		<label for="title">Confirm Password:</label>
		<div class="input controls">
			<input id="pwd" type="password" id="title" name="loginForm.cpwd" class="form-control" maxlength="15" required="true" />
			<span class="help-line" ng-show="loginForm.group.$error.required"></span>
		</div>
	

	<hr>
	<div>
		<button ng:click="login()" ng-disabled="remaindForm.$invalid" class="btn btn-primary">Login</button> <button ng:click="cancel()" class="btn btn-default">Cancel</button>
	</div>
</form>
<div>
<hr>
</div>

